@page
@model Exercise3.Pages.CustomerModel
@{
}

<div class="container">
    <h1>Customer Record</h1>
    <form method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" asp-for="Customer.Name" />
        </div>
        <div class="form-group">
            <label>Address</label>
            <input class="form-control" asp-for="Customer.Address" />
        </div>
        <div class="form-group">
            <label>CheckIn</label>
            <input class="form-control" asp-for="Customer.CheckIn" />
        </div>
        <div class="form-group">
            <label>CheckOut</label>
            <input class="form-control" asp-for="Customer.CheckOut" />
        </div>
        <div class="form-group">
            <label>RoomNumber</label>
            <input class="form-control" asp-for="Customer.RoomNumber" />
        </div>
        <div class="form-group">
            <label>EmailAddress</label>
            <input class="form-control" asp-for="Customer.EmailAddress" />
        </div>
        <div class="form-group">
            <label>Billing</label>
            <input class="form-control" asp-for="Customer.Billing" />
        </div>
        <button class="btn btn-primary btn-block" type="submit">Save</button>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Room Number</th>
            <th>Email Address</th>
            <th>Billing</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
        <tr>
            <td>@customer.CustomerId</td>
            <td>@customer.Name</td>
            <td>@customer.Address</td>
            <td>@customer.CheckIn</td>
            <td>@customer.CheckOut</td>
            <td>@customer.RoomNumber</td>
            <td>@customer.EmailAddress</td>
            <td>@customer.Billing</td>
        </tr>
        }
    </tbody>
</table>
